









<div class="Base">
    <div class="AO">
      <img class="insta" src="/assets/img/insta.png">
      <div class="DD">
        <input autocapitalize="none" class="rch" placeholder="Rechercher" type="text" value="">
      </div>
      <div class="ctr">
        <a href=""><img src="/assets/img/home1.png"></a>
        <a href=""><img src="/assets/img/msg.png"></a>
        <a href=""><img src="/assets/img/exp.png"></a>
        <a href=""><img src="/assets/img/love.png"></a>
        <img class="pp" src="/assets/img/Mika.jpg">
      </div>
    </div>
</div>

<router-outlet></router-outlet>

<br>
<br>
<br>
<br>

<div class="Master st">
  <div class="story">
    <div class="boribory">
      <img class="profil" src="/assets/img/Mika.jpg">
      <p>mika_5</p>
    </div>
    <div class="boribory">
      <img class="profil" src="/assets/img/ispm.png">
      <p>ispm_gg</p>
    </div>
    <div class="boribory">
      <img class="profil" src="/assets/img/PUBG.jpg">
      <p>PUBG</p>
    </div>
    <div class="boribory">
      <img class="profil" src="/assets/img/Apex_ITO.jpg">
      <p>Apex_lig</p>
    </div>
    <div class="boribory">
      <img class="profil" src="/assets/img/Aurus.png">
      <p>Aurus</p>
    </div>
  </div>
</div>

<div>
  <h2 class="sp">IM<span>TIC</span>IA 5 <span>MIKAIAH</span> :)</h2>
</div>



<div class="Master Pic st">
  <div class="">
    <div class="ES">
      <div class="DD">
        <div class="ctr">
          <img class="profil" src="/assets/img/Mika.jpg">
          <p class="esp">hakeem.ad</p>
        </div>
        <img src="/assets/img/menu_h.png">
      </div>
    </div>

    <div>
      <img class="Sary" src="/assets/img/Mika.jpg">
    </div>
  </div>
  <div class="DD ACT">
    <div class="">


      <!-- CLICK J'aime -->

      <button id='b1' (click)="likeButtonClick()">
        <img src="/assets/img/love2.png">
      </button>
      <button id='b2' (click)="dislikeButtonClick()">
        <img src="/assets/img/love.png">
      </button>
      <button>
        <a  href=""><img src="/assets/img/comment.png"></a>
      </button>
      <button>
        <a href=""><img src="/assets/img/send.png"></a>
      </button>
    </div>
    <div>
      <a href=""><img src="/assets/img/favori.png"></a>
    </div>
  </div>
  <div class="FF ctr">
    <img class="profil" src="/assets/img/Mika.jpg">
    <p class="esp">Aimé par 
      <span>mika_5</span> et par 
      <span class="col">{{numberOfLikes}}</span> autres personnes
    </p>
  </div>
  <div>
    <p class="FF tmp">Il Y A 12 HEURE </p>
  </div>

<br>
  
<div>
  <p class="FF">{{comment}}</p>
</div>

<br>

  <form method="POST">
    <button type="button">
      <div>
        <img src="/assets/img/smile.png">
      </div>
    </button>
    <input autocapitalize="none" class="ment Ypffh " placeholder="Ajouter un commentaire" type="text" value="">
    <button (click)="post()">Publier</button>
  </form>

</div>

<br>
<br>

<div class="Master Pic st">
  <div class="">
    <div class="ES">
      <div class="DD">
        <div class="ctr">
          <img class="profil" src="/assets/img/ispm.png">
          <p class="esp">ispm_gg</p>
        </div>
        <img src="/assets/img/menu_h.png">
      </div>
    </div>

    <div>
      <img class="Sary" src="/assets/img/ispm.png">
    </div>
  </div>
  <div class="DD ACT">
    <div class="">


      <!-- CLICK J'aime -->

      <button id='b1' (click)="likeButtonClick()">
        <img src="/assets/img/love2.png">
      </button>
      <button id='b2' (click)="dislikeButtonClick()">
        <img src="/assets/img/love.png">
      </button>
      <button>
        <a  href=""><img src="/assets/img/comment.png"></a>
      </button>
      <button>
        <a href=""><img src="/assets/img/send.png"></a>
      </button>
    </div>
    <div>
      <a href=""><img src="/assets/img/favori.png"></a>
    </div>
  </div>
  <div class="FF ctr">
    <img class="profil" src="/assets/img/Mika.jpg">
    <p class="esp">Aimé par 
      <span>mika_5</span> et par 
      <span class="col">{{numberOfLikes}}</span> autres personnes
    </p>
  </div>
  <div>
    <p class="FF tmp">Il Y A 12 HEURE </p>
  </div>

<br>
<div>
  <p class="FF">{{comment}}</p>
</div>
<br>
  <form method="POST">
    <button type="button">
      <div>
        <img src="/assets/img/smile.png">
      </div>
    </button>
    <input autocapitalize="none" class="ment Ypffh " placeholder="Ajouter un commentaire" type="text" value="">
    <button (click)="post()">Publier</button>
  </form>

</div>

<br>
<br>


<div class="Master Pic st">
  <div class="">
    <div class="ES">
      <div class="DD">
        <div class="ctr">
          <img class="profil" src="/assets/img/PUBG.jpg">
          <p class="esp">PUBG</p>
        </div>
        <img src="/assets/img/menu_h.png">
      </div>
    </div>

    <div>
      <img class="Sary" src="/assets/img/PUBG.jpg">
    </div>
  </div>
  <div class="DD ACT">
    <div class="">


      <!-- CLICK J'aime -->

      <button id='b1' (click)="likeButtonClick()">
        <img src="/assets/img/love2.png">
      </button>
      <button id='b2' (click)="dislikeButtonClick()">
        <img src="/assets/img/love.png">
      </button>
      <button>
        <a  href=""><img src="/assets/img/comment.png"></a>
      </button>
      <button>
        <a href=""><img src="/assets/img/send.png"></a>
      </button>
    </div>
    <div>
      <a href=""><img src="/assets/img/favori.png"></a>
    </div>
  </div>
  <div class="FF ctr">
    <img class="profil" src="/assets/img/Mika.jpg">
    <p class="esp">Aimé par 
      <span>mika_5</span> et par 
      <span class="col">{{numberOfLikes}}</span> autres personnes
    </p>
  </div>
  <div>
    <p class="FF tmp">Il Y A 12 HEURE </p>
  </div>

<br>
<div>
  <p class="FF">{{comment}}</p>
</div>
<br>
  <form method="POST">
    <button type="button">
      <div>
        <img src="/assets/img/smile.png">
      </div>
    </button>
    <input autocapitalize="none" class="ment Ypffh " placeholder="Ajouter un commentaire" type="text" value="">
    <button (click)="post()">Publier</button>
  </form>

</div>

<br>
<br>

<div class="Master Pic st">
  <div class="">
    <div class="ES">
      <div class="DD">
        <div class="ctr">
          <img class="profil" src="/assets/img/Apex_ITO.jpg">
          <p class="esp">Apex_lig</p>
        </div>
        <img src="/assets/img/menu_h.png">
      </div>
    </div>

    <div>
      <img class="Sary" src="/assets/img/Apex_ITO.jpg">
    </div>
  </div>
  <div class="DD ACT">
    <div class="">


      <!-- CLICK J'aime -->

      <button id='b1' (click)="likeButtonClick()">
        <img src="/assets/img/love2.png">
      </button>
      <button id='b2' (click)="dislikeButtonClick()">
        <img src="/assets/img/love.png">
      </button>
      <button>
        <a  href=""><img src="/assets/img/comment.png"></a>
      </button>
      <button>
        <a href=""><img src="/assets/img/send.png"></a>
      </button>
    </div>
    <div>
      <a href=""><img src="/assets/img/favori.png"></a>
    </div>
  </div>
  <div class="FF ctr">
    <img class="profil" src="/assets/img/Mika.jpg">
    <p class="esp">Aimé par 
      <span>mika_5</span> et par 
      <span class="col">{{numberOfLikes}}</span> autres personnes
    </p>
  </div>
  <div>
    <p class="FF tmp">Il Y A 12 HEURE </p>
  </div>

<br>
<div>
  <p class="FF">{{comment}}</p>
</div>
<br>
  <form method="POST">
    <button type="button">
      <div>
        <img src="/assets/img/smile.png">
      </div>
    </button>
    <input autocapitalize="none" class="ment Ypffh " placeholder="Ajouter un commentaire" type="text" value="">
    <button (click)="post()">Publier</button>
  </form>

</div>

<br>



